<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816139401561-fugf3vqjji9dvvnuc2kqj133m2tbuf2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816139401561-fugf3vqjji9dvvnuc2kqj133m2tbuf2e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>816139401561-at47rh069kjqrv3b2t1b8cl7b97lcuqv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKqLBzJoH8IGOuARa9p3WfqguXJWSUavM</string>
	<key>GCM_SENDER_ID</key>
	<string>816139401561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.passwordepic.mobile</string>
	<key>PROJECT_ID</key>
	<string>passwordepic</string>
	<key>STORAGE_BUCKET</key>
	<string>passwordepic.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816139401561:ios:54cb13ede3e05c00a8b448</string>
</dict>
</plist>